*, *:before, *:after
    box-sizing: border-box
html, body
    height: 100%
body
    font-family: 'Raleway', sans-serif
    background: $c-primary
    color: $c-secondary
h1, p
    padding: 0
    margin: 0
a
    color: $c-secondary
    font-weight: 500
    font-style: italic
    margin-left: 3px
    margin-right: 3px